* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rajdhani', sans-serif;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #c9d1d3;
  font-size: 20px;
}

#description {
  height: 20vh;
  background: #505bda;
}

#title {
  border-bottom: 0.3vh solid #505050;
  margin-bottom: 1vh;
}

#content {
  background-color: #1a2849;
  height: 80vh;
  overflow: auto;
}

#back {
  position: absolute;
  top: 0;
  left: 0;
  height: 5vh;
  width: 8vh;
  border: none;
  background: #2f416d;
  color: #94ceca;
  cursor: pointer;
  font-size: 3vh;
}

#back:hover {
  text-decoration: underline;
}

#back:focus {
  outline: none;
}
